@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
 //@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;

//@include foundation-button;
//@include foundation-forms;
//@include foundation-range-input;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-card;
//@include foundation-close-button;
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-responsive-embed;
//@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;
 

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf')  format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}





@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf')  format('truetype'), url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf')  format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="fadeIn"] {
	visibility: hidden;
}

$dark: #384250;
$light: #A7A7A7;
$primary: #E50B0A;
$yellow: #F9A01B;
$green: #00AC65; 
$blue: #007FBC; 
$purple: #5946B2; 

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
*:focus {
	outline: none;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: $dark;
}
p,a,body,html {
	font-family: 'Source Sans Pro', sans-serif;
}
p {
	color: #67737a;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;
	font-family: 'Roboto';
	&.small {
	    font-size: 16px;
    	color: #2a2a2a;
    	@include breakpoint (small only) {
			font-size: 14px;
		}
	}
	@include breakpoint (small only) {
		font-size: 14px;
	}
}

.align-center {
	justify-content: center;
}

.default-title {
	color: $dark;
	font-family: 'Montserrat';
	font-size: 55px;
	line-height: 1.1;
	font-weight: 300;
	margin-bottom: 50px;
	&.light {
		font-weight: 300;
	}
	&.rob {
		font-family: 'Roboto';
	}
	&.f50 {
		font-size: 50px;
	}
	&.f30 {
		font-size: 30px;
	}
	&.has-decor {
		margin-bottom: 40px;
		padding-bottom: 30px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100px;
			max-width: 40%;
			height: 2px;
			background: $primary;
			transition: .3s all;
		}
		&.yellow {
			&:after {
				background: $yellow;
			}
		}
	}
	&.white {
		color: #fff;
	}
	&.center {
		text-align: center;
		&.has-decor {
			&:after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	@include breakpoint (small only) {
		font-size: 34px;
		margin-bottom: 20px;
		&.has-decor {
			margin-bottom: 30px;
			padding-bottom: 20px;
		}
	}
}

.sub-title {
	color: #A8ACB2;
	font-size: 50px;
	font-family: 'Roboto';
	font-weight: normal;
	&.small {
		font-size: 30px;
	}
}

.divider-vertical {
	display: inline-block;
	width: 1px;
	height: 40px;
	background: $purple;
	margin-bottom: 25px;
}

.divider-horizontal {
	display: inline-block;
	width: calc(100% - 50px);
	height: 1px;
	background: #818181;
	margin: 50px 25px;
}


.big-title {
    padding: 40px 0;
    font-size: 70px;
    line-height: 1.1;
	font-family: 'Montserrat';
	color: #d4d4d4;
	font-weight: 300;
	text-transform: uppercase;
	@include breakpoint (small only) {
	    padding: 30px 0;
    	font-size: 40px;
	}
}

body {
	background: #ffffff;
	&.overflow {
		overflow: hidden;
	}
} 

a.read-more,.read-more {
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 18px;
	font-family: 'Montserrat';
	color: $dark;
	padding-bottom: 5px;
	font-weight: 300;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 20%;
		height: 2px;
		background: $primary;
		transition: .3s all;
	}
	&:hover {
		&:after {
			width: 100%;
		}
	}
	&.center {
		&:after {
	    	left: 40%;
	    }
	    &:hover {
	    	&:after {
	    		left: 10px;
	    		width: calc(100% - 20px);
	    	}
	    }
	}
}


section, [class*="section-"] {
	display: block;
	width: 100%;
	overflow: hidden;
}

.canvas-container {
	position: fixed;
	overflow: hidden;
	left: 100%;
	top: 0;
	height: 100vh;
	width: 100%;
	transition: .4s all;
	z-index: 99999;
	&.open {
		left: 0;
	}
	.close-overlay {
		display: inline-block;
		width: 100%;
		height: 100vh;
		cursor: pointer;
	}
	.big-menu {
		height: 100vh;
		background: $primary;
		.button-holder {
			display: inline-block;
			width: 100%;
			padding-left: 50px;
			height: 93px;
			.menu-button {
				background: #fff;
				color: $primary;
				font-size: 10px;
				display: inline-block;
				width: 63px;
				height: 93px;
				padding-bottom: 10px;
				box-sizing: border-box;
				cursor: pointer;
				transition: .3s all;
				text-align: center;
				p {
					color: $primary;
					font-size: 12px;
					font-family: 'Montserrat';
					font-weight: 300;
					line-height: 40px;
					width: 100%;
					text-align: center;
					overflow: hidden;
					transition: .3s all;
					max-height: 60px;
					margin-bottom: 6px;
				}
				&.sticky {
				    padding-top: 10px;
				    height: 54px;
					p {
						max-height: 0;
						margin-bottom: 2px;
					}
				}
				.icon {
					display: inline-block;
					width: 50px;
					padding: 0 5px;
				    display: inline-block;
				    padding: 0 10px;
				    transition: .3s all;
					.bar {
						width: 100%;
						height: 4px;
						background: $primary;
						display: inline-block;
						margin-bottom: 2px;
						float: left;
						transition: .3s all;
						&:nth-child(odd) {
							transform: translateX(2px);
						}
						&:nth-child(even) {
							transform: translateX(-2px);
						}
					}
				}
				&:hover {
					.icon {
						transform: scale(1.05);
						.bar {
							&:nth-child(odd) {
								transform: translateX(-2px);
							}
							&:nth-child(even) {
								transform: translateX(2px);
							}
						}
					}
				}
			}
		}
		.menu-holder {
			height: calc(100% - 193px);
			position: relative;
			display: inline-block;
			width: calc(100% - 60px);
			margin: 0 30px;
			overflow: hidden;
			@include breakpoint (small only) {
				height: calc(100% - 153px);
			}
			.main-item {  
				cursor: pointer;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				transition: .6s all; 
				top: 12.5%;
				.inner {
					font-size: 36px;
					line-height: 60px;
					color: #fff;
					font-weight: 700;
					position: relative;
					display: inline-block;
				    white-space: nowrap;
				    font-family: 'Montserrat'; 
				    @include breakpoint (small only) {
				    	font-size: 20px;
				    	line-height: 40px;
				    }
					&:after {
						content: '';
						display: inline-block;
						position: absolute;
						background: #fff;
						width: 0;
						left: 50%;
						bottom: 2px;
						height: 1px;
						opacity: 0;
						transition: .3s all;
					}
				}
				&:nth-child(2) {
					top: calc(12.5% * 2);
				}
				&:nth-child(3) {
					top: calc(12.5% * 3);
				}
				&:nth-child(4) {
					top: calc(12.5% * 4);
				}
				&:nth-child(5) {
					top: calc(12.5% * 5);
				}
				&:nth-child(6) {
					top: calc(12.5% * 6);
				}
				&:nth-child(7) {
					top: calc(12.5% * 7);
				}
				&:nth-child(8) {
					top: calc(12.5% * 8);
				}
				&:hover {
					transform: translateX(-50%) scale(1.05);
					.inner {
						&:after {
							width: 100%;
							left: 0;
							opacity: 1;
						}
					}
				}
				&[data-selected="true"] {
					left: 10px;
					top: 10px;
					pointer-events: none;
					transform: none;
					.inner {
						font-size: 40px;
						@include breakpoint (small only) {
					    	font-size: 24px;
					    }
					}
				}
				&[data-selected="false"] {  
					/*pointer-events: none;*/
					opacity: 0.5;
					.inner {
						font-size: 16px;
						line-height: 30px;
						@include breakpoint (small only) {
					    	font-size: 12px;
					    }
					}
				}
			}
			.single-menu-wrapper {
				position: absolute;
				left: -400px;
				widows: 400px;
				top: 66px;
				transition: .3s all; 
				ul {
					position: relative;
					padding-top: 60px;
					@include breakpoint (small only) {
						padding-top: 30px;
					}
					&:after {
						content: '';
						position: absolute;
						width: 1px;
						height: 0;
						top: 10px;
						left: 10px;
						background: #fff;
						transition: 1s all;
						@include breakpoint (small only) {
							top: 0;
						}

					}
					li {
						transform: translateX(-100%);
						transition: .3s all;
						padding-left: 10px;
						&:nth-child(9) {
							transition-delay: calc(0.1s * 1);
						}
						&:nth-child(8) {
							transition-delay: calc(0.1s * 1);
						}
						&:nth-child(7) {
							transition-delay: calc(0.1s * 2);
						}
						&:nth-child(6) {
							transition-delay: calc(0.1s * 3);
						}
						&:nth-child(5) {
							transition-delay: calc(0.1s * 4);
						}
						&:nth-child(4) {
							transition-delay: calc(0.1s * 5);
						}
						&:nth-child(3) {
							transition-delay: calc(0.1s * 6);
						}
						&:nth-child(2) {
							transition-delay: calc(0.1s * 7);
						}
						&:nth-child(1) {
							transition-delay: calc(0.1s * 8);
						}
						a {
							font-size: 36px;
							line-height: 60px;
							color: #fff;
							font-weight: 700;
							position: relative;
							display: inline-block;
						    white-space: nowrap;
						    transition: .6s all;
						    @include breakpoint (small only) {
						    	font-size: 20px;
						    	line-height: 28px;
						    }
							&:after {
								content: '';
								display: inline-block;
								position: absolute;
								background: #fff;
								width: 0;
								left: 50%;
								bottom: 2px;
								height: 1px;
								opacity: 0;
								transition: .3s all;
							}
							&:hover {
								transform: scale(1.05);
								&:after {
									width: 100%;
									left: 0;
									opacity: 1;
								}
							}
						}
						.go-back-arrow {
							width: 40px;
    						padding: 20px 0 0;
    						cursor: pointer;
    						transition: .3s all;
							transform: translateX(10px);
    						&:hover {
								transform: translateX(0px);
    						}
						}
					}
				}
				&.open {
					left: 0;
					transition-delay: 0s;
					ul {
						&:after {
							height: 40px;
							@include breakpoint (small only) {
								height: 20px;
							}
						}
						li {
							transform: none;
							&:nth-child(1) {
								transition-delay: calc(0.1s * 1);
							}
							&:nth-child(2) {
								transition-delay: calc(0.1s * 2);
							}
							&:nth-child(3) {
								transition-delay: calc(0.1s * 3);
							}
							&:nth-child(4) {
								transition-delay: calc(0.1s * 4);
							}
							&:nth-child(5) {
								transition-delay: calc(0.1s * 5);
							}
							&:nth-child(6) {
								transition-delay: calc(0.1s * 6);
							}
							&:nth-child(7) {
								transition-delay: calc(0.1s * 7);
							}
							&:nth-child(8) {
								transition-delay: calc(0.1s * 8);
							} 
							&:nth-child(9) {
								transition-delay: calc(0.1s * 9);
							} 
							&:nth-child(10) {
								transition-delay: calc(0.1s * 10);
							} 
						}
					}
				}
				&[menu="2"],&[menu="1"] {
					ul {
						li {
							a {
								line-height: 40px;
								font-size: 26px;
								@include breakpoint (small only) {
							    	font-size: 20px;
							    	line-height: 28px;
							    }
							}
						}
					}
				}
			}
		}
		.socials-holder {
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			@include breakpoint (small only) {
				height: 60px;
			}
			.socials {
				display: inline-block;
				a {
					float: left;
					margin: 0 10px;
					padding: 0 10px;
					cursor: pointer;
					transition: .3s all;
					line-height: 52px;
					&:hover {
						transform: scale(1.05);
					}
					img {
						height: 22px;
						width: auto;
					}
				}
			}
		}
	}
}

.header-fix {
	padding-top: 93px;
	width: 100%;
	display: block;
	&.sticky {
		/*height: 80px;*/
	}
}
 
.header {   
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: transparent;
	transition: .3s all;
	z-index: 9999;
	background-color: #fff;
	&.active {
		top: -24px;
		@include breakpoint (small only) {
			top: 0;
		}
	} 
	.main-navigation {
		position: relative;
		.logo-container {
			float: left;
			display: flex;
			height: 100%;
			align-items: center;
			.logo {
				float: left;
				width: 100%;
				padding: 15px 0;
				transition: .3s all;
				a {
					width: 100%;
					text-align: center;
					display: inline-block;
					img {
						display: inline-block;
						max-width: 175px;
						width: 175px;
						transition: .3s all;
						@include breakpoint (small only) {
							max-width: 175px;
						}
					}
				}
			}
		}    
	} 
	&.sticky {
		box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.1);
		visibility: visible !important;
		.main-navigation {
			.logo-container {
				.logo {
				    padding: 5px 0;
				    a {
				    	img {
				    		width: 140px;
				    	}
				    }
				}
			}
		}
	}
	.menu-button {
		background: $primary;
		color: #fff;
		font-size: 10px;
		display: inline-block;
		width: 63px;
		height: 93px;
		padding-bottom: 10px;
		box-sizing: border-box;
		cursor: pointer;
		transition: .3s all;
		text-align: center;
		p {
			color: #fff;
			font-size: 12px;
			font-family: 'Montserrat';
			font-weight: 300;
			line-height: 40px;
			width: 100%;
			text-align: center;
			transition: .3s all;
			max-height: 60px;
			overflow: hidden;
			margin-bottom: 6px;
		}
		&.sticky {
		    padding-top: 10px;
		    height: 54px;
			p {
				max-height: 0;
			}
		}
		.icon {
			display: inline-block;
			width: 50px;
			padding: 0 5px;
		    display: inline-block;
		    padding: 0 10px;
		    transform: rotate(-45deg);
			.bar {
				width: 100%;
				height: 4px;
				background: #fff;
				display: inline-block;
				margin-bottom: 2px;
				float: left;
				transition: .3s all;
				&:nth-child(odd) {
					transform: translateX(2px);
				}
				&:nth-child(even) {
					transform: translateX(-2px);
				}
			}
		}
		&:hover {
			.icon {
				.bar {
					&:nth-child(odd) {
						transform: translateX(-2px);
					}
					&:nth-child(even) {
						transform: translateX(2px);
					}
				}
			}
		}
	}
}

.text-holder {
	display: flex;
	height: 100%;
	align-items: center;
	@include breakpoint (small only) {
		margin-bottom: 20px;
	}
	.text-box { 
		background: #fff;
		position: relative;
		.default-title {
			margin-bottom: 50px;
		}
		p {
			margin-bottom: 40px;
		} 
	}
}
.section-about {
	padding: 30px 0;
	img {
		width: 100%;
	}
	.text-holder {
		position: relative;
		z-index: 2;
		.text-box {
			padding: 40px;
			transform: translateX(90px);
			box-shadow: 0 0 35px 0 rgba(0,0,0,0.3);
			@include breakpoint (small only) {
				transform: none;
				padding: 20px;
			}
		}
	}
	&.careers {
		.text-holder {
			position: relative;
			z-index: 2;
			.text-box {
				padding: 40px;
				transform: translateX(-90px);
				box-shadow: 0 0 35px 0 rgba(0,0,0,0.3);
				@include breakpoint (small only) {
					transform: none;
					padding: 20px;
				}
			}
		}
	}
}

.section-company {
	padding: 30px 0;
	position: relative;
	img {
		width: 100%;
	}
	.text-holder {
		.text-box {
			padding: 40px;
		    position: absolute;
		    width: 25%;
		    left: 10%;
		    .icon {
		    	margin-bottom: 25px;
		    	text-align: center;
		    	img {
		    		display: inline-block;
		    		width: auto;
		    		height: auto;
			    	max-width: 80%;
			    	max-height: 140px;
		    	}
		    }
			&.right {
				left: auto;
				right: 10%;
			}
		}
	}
}

.section-group-first {
	padding-bottom: 30px;
	.img-wrapper {
		height: 100%;
		position: relative;
		img {
			height: 100%;
			object-fit: cover;
			position: absolute;
			@include breakpoint (small only) {
				position: static;
				height: auto;
			}
		}
	}
}
.section-group {
	padding: 30px 0;
	background: #F9F9F9;
	min-height: calc(100vh - 54px);
	display: flex;
	align-items: center;
	@media screen and ( max-height: 750px ) {
		padding: 15px 0;
	}
	.text-holder {
		.text-box {
			padding: 20px;
			width: 100%;
			background: transparent;
			.default-title {
				position: relative;
				padding-right: 120px;
			}
			a.read-more {
				&:after {
					background: $primary;
				}
			}
			.arrow-holder {
		        cursor: pointer;
			    position: absolute;
			    right: 0;
			    top: 50%;
			    width: 120px;
			    transition: .3s all;
			    transform: translateY(-50%);
			    display: flex;
			    justify-content: flex-end;
			    @include breakpoint (small only) {
			    	right: 30px;
			    }
				div {
					padding: 10px;
					display: inline-block;
					transition: .3s all;
					img {
						width: 20px;
					}
					&:hover {
						&.gotonext-industries {
							transform: scale(1.05);
						}
						&.gotoprev-industries {
							transform: scale(1.05);
						}
					}
				} 
			}
		}
	}
	.industries-slider {
		.slick-track {
			display: flex;
			.slick-slide {
				height: inherit;
			}
		}
	}
	.group-blocks {
		position: relative;
		.gotoprev-industries {
		    position: absolute;
		    top: 80px;
    		left: -50px;
		    transition: .3s all;
		    z-index: 1;
		    cursor: pointer;
		    img {
		    	width: 20px;
		    }
		    &:hover {
		    	transform: scale(1.05);
		    }
		}
		.gotonext-industries {
		    position: absolute;
		    top: 80px;
    		right: 40px;
		    transition: .3s all;
		    z-index: 1;
		    cursor: pointer;
		    img {
		    	width: 20px;
		    }
		    &:hover {
		    	transform: scale(1.05);
		    }
		}
		.single-block {
			padding: 30px 40px;
			border-left: 1px solid #E5E5E5;
			height: 100%; 
			@media screen and ( max-height: 750px ) {
				padding: 10px 40px;
			}
			@include breakpoint (small only) {
				border: none;
				padding: 20px;
			}
			.first-wrapper {
				display: inline-block;
				width: 100%;
			}
			.gray-title {
				color: #E5E5E5;
				font-family: 'Roboto';
				font-weight: bold;
				font-size: 95px;
				line-height: 100px;
				padding: 0 0px 40px 0px;
				display: block;
				position: relative;
				width: 100%;
				float: left;
				@media screen and ( max-height: 750px ) {
					padding-bottom: 0;
					font-size: 80px;
					line-height: 80px;
				}
				span.number {
					position: relative;
					z-index: 2;
					float: left;
				}
				.arrow-holder {
				    height: 100px;
				    display: flex;
				    align-items: center;
				    justify-content: flex-end;
				    .gotonext-industries {
				    	width: 40px;
				    }
				}
				span.zero {
					position: absolute;
				    left: -9px;
				    z-index: 1;
				    width: 35px;
				    top: 16px;
				    display: none;
				}
			}
			.category {
				font-weight: normal;
				font-family: 'Montserrat';
				font-size: 20px;
				color: $dark;
				width: 100%;
				line-height: 30px;
				margin-bottom: 30px;
				@media screen and ( max-height: 750px ) {
					margin-bottom: 15px;
				}
			}
			.content-wrapper {
				height: auto;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				.featured-image {
					margin-bottom: 30px;
					img {
						max-height: 160px;
						width: 100%;
						object-fit: cover;
						object-position: top left;
					}
					@media screen and ( max-height: 750px ) {
						margin-bottom: 15px;
					}
				}
				.content {
					.category {
						font-size: 11px;
						font-weight: normal;
						margin-bottom: 10px;
						position: relative;
						color: $dark;
						display: inline-block;
						&:after {
						    content: '';
						    position: absolute;
						    left: calc(100% + 10px);
						    top: 50%;
						    transform: translateY(-50%);
						    height: 1px;
						    width: 50px;
						    display: inline-block;
							background: $dark;
						}
					}
					.logo-row {
						padding: 10px 0;
						display: flex;
						justify-content: flex-start;
						flex-wrap: wrap;
						min-height: 120px;
    					align-items: center;
    					@include breakpoint (small only) {
    						min-height: 0;
    					}
						a {
							width: 25%;
							padding: 5px;
							height: 40px;
							display: inline-block;
							justify-content: center;
						    display: flex;
						    align-items: center;
						    margin-bottom: 10px;
						    transition: .3s all;
						    opacity: 0.3;
						    &:hover {
						    	opacity: 1;
						    }
							img {
								max-height: 40px;
								max-width: 100%;
							}
							&:first-child {
								&:last-child {
									width: 45%;
								}
							}
						}
					}
					p {
						font-size: 14px;
						color: #333;
					}
					.read-more {
						font-size: 14px;
						margin-bottom: 25px;
						&:after {
							/*background: $green;*/
						}
						@media screen and ( max-height: 750px ) {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

.section-stats {
	padding: 30px 0;
	.single-stat-photo {
		margin-bottom: 30px;
		position: relative;
		height: 290px;
		width: 100%;
		display: inline-block;
		overflow: hidden;
		background: #F7F7F7;
		img {
			transition: .3s all;
			position: absolute;
		}
		&.stat1 {
			.text {
				left: 0;
				top: 0;
				width: 60%;
				z-index: 1;
			}
			.image {
				width: 85%;
				bottom: 0;
				right: 0;
				z-index: 2;
			}
		}
		&.stat2 {
			.text {
				left: 5%;
				top: 0;
				width: 90%;
				z-index: 1;
			}
			.image {
				width: 100%;
				bottom: 0;
				right: 0;
				z-index: 2;
			}
		}
		&.stat3 {
			.text {
				right: 0;
				top: 0;
				width: 75%;
				z-index: 1;
			}
			.image {
				width: 80%;
				bottom: 0;
				left: 0;
				z-index: 2;
			}
		}
		&:hover {
			&.stat1 {
				.text {
					width: 64%;
				}
				.image {
					width: 70%;
				}
			}
			&.stat2 {
				.text {
					left: 2%;
					width: 96%;
					z-index: 1;
				}
				.image {
					bottom: -5%;
				}
			}
			&.stat3 {
				.text {
					width: 80%;
				}
				.image {
					width: 65%;
				}
			}
		}
	}
	.single-stat {
		background: #F7F7F7;
		position: relative;
		padding: 30px;
		height: 100%;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 75%;
			width: 13px;
			background: $primary;
		}
		.number {
			font-size: 60px;
			font-weight: 900;
			font-family: 'Montserrat';
		    line-height: 1;
		    padding-bottom: 40px;
		    padding-left: 30px;
			color: $primary;
		}
		p {
			font-size: 18px;
			color: $dark;
		}
	}
}

.section-news {
	min-height: calc(100vh - 54px);
	padding: 60px 0;
	background: #F7F7F7;
	.default-title {
		padding-right: 0px;
	}
	.section-desc {
		width: 600px;
		text-align: center;
		max-width: 100%;
	    margin: 0 auto 40px;
	}
	&.sus {
		background: #fff;
		min-height: 0;
		.default-title {
			padding-right: 0px;
		}
	}
	.button-holder {
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	.news-slider {
		padding: 30px 0;
		@include breakpoint (small only) {
			padding: 30px 20px 0;
		}
		.slick-arrow {
			position: absolute;
			z-index: 9;
			left: 25px;
			top: -20px;
			width: 40px;
			height: 40px;
			box-sizing: border-box;
			padding: 15px;
			color: #fff;
			line-height: 1;
			font-size: 0;
			display: inline;
			background-image: url(../img/angle-left.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			cursor: pointer;
			transition: .3s all;
			opacity: 0;
			pointer-events: none;
			&:hover {
				transform: scale(1.05);
			}
			&.slick-next {
				right: 25px;
				left: auto;
				background-image: url(../img/angle-right.svg);
				opacity: 1;
				pointer-events: all;
				&:hover {
					transform: scale(1.05);
				}
			}
			@include breakpoint (small only) {
				top: 0;
				
			}
			@include breakpoint (1600px down) {
				width: 60px;
				height: 30px;
				background-size: contain;
				left: 20px;
				&.slick-next {
					right: 20px;
					left: auto;
				}
				&:hover {
					transform: scale(1.05);
					&.slick-next {
						transform: scale(1.05);
						left: auto;
					}
				}
			}
		}
		.single-news {
			margin: 0 15px;
			a {
				display: inline-block;
				width: 100%;
				float: left;
				img {
					width: 100%;
					height: 260px;
					object-fit: cover;
				}
				.news-title {
					display: inline-block;
					width: 100%;
					font-size: 18px;
					line-height: 1.4;
					height: 50px;
    				overflow: hidden;
				}
				&.read-more {
					width: auto;
					font-size: 14px;
				}
			}
			.content {
				background: #fff;
				padding: 15px;
				display: inline-block;
				width: 100%;
				.news-title {
					color: $dark;
					font-size: 18px;
					line-height: 1.4;
					font-family: 'Roboto';
					font-weight: bold;
					margin-bottom: 10px;
				}
				p {
					font-size: 14px;
					color: #525252;
					font-weight: 300;
					margin-bottom: 10px;
					display: inline-block;
				    height: 55px;
		    		overflow: hidden;
				}
			}
			&.with-shadow {
				box-shadow: 0 0 10px rgba(0,0,0,0.1);
    			margin-bottom: 15px;
			}
		}
	}
}

.section-careers {
	padding: 60px 0;
	@include breakpoint (small only) {
		padding: 30px;
	}
	.image-wrapper {
		position: relative;
		margin-left: 40px;
		margin-top: 40px;
		&:after {
			content: '';
			position: absolute;
			left: -40px;
			top: -40px;
			width: 90%;
			height: 100%;
			background: $primary;
		}
		img {
			position: relative;
			z-index: 1;
		}
	}
	.content {
		padding-left: 80px;
		@include breakpoint (small only) {
			padding: 20px;
		}
		.default-title {
			margin-bottom: 10px;
		} 
		p {
			font-size: 22px;
			margin-bottom: 35px;
			@include breakpoint (small only) {
				font-size: 14px;
			}
		}
		a {
			&:after {
				background: $purple;
			}
		}
	}
}


.footer {
	padding: 50px;
	width: 100%;
	background-image: url(../img/footer-balfin.jpg);
	background-size: cover;
	@include breakpoint (small only) {
		padding: 20px;
	}
	.footer-text {
		font-size: 16px;
		color: #fff;
		margin-bottom: 20px;
		max-width: 300px;
	}
	.footer-logo {
		margin-bottom: 20px;
		img {
			width: 140px;
		}
	}
	.footer-title {
		color: #fff;
		font-weight: 900;
		font-family: 'Montserrat';
		margin-bottom: 30px;
		@include breakpoint (small only) {
			margin: 20px 0 20px;
		}
	}
	.footer-menu {
	    display: flex;
    	flex-direction: column;
		a {
			color: #fff;
			font-size: 16px;
			font-family: 'Roboto';
			font-weight: 300;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.socials {
		display: flex;
		justify-content: flex-start;
		@include breakpoint (small only) {
			margin-bottom: 20px;
		}
		a {
			margin: 0 10px;
			padding: 0 10px;
			cursor: pointer;
			transition: .3s all;
			line-height: 52px;
			&:hover {
				transform: scale(1.05);
			}
			img {
				height: 22px;
				width: auto;
			}
		}
	}
	.subscribe {
		.form-holder {
			form {
				position: relative;
				width: 100%;
				height: 40px;
				display: flex;
				
				input[type="text"],input[type="email"] {
					height: 40px;
					line-height: 40px;
					padding-left: 40px;
					background: transparent;
					border: 1px solid #fff;
					box-shadow: none;
					color: #fff; 
					width: calc(100% - 90px);
					position: absolute;
					left: 0;
					top: 0;
					max-width: 100%;
					background-image: url(../img/email.svg);
					background-size: 20px;
					background-position: left 10px center;
					background-repeat: no-repeat;
					box-sizing: border-box;
					&::placeholder {
					  color: rgba(255,255,255,0.5);
					}
				}
			}
			form > div {
				width: 100%;
			}
			.nf-form-content {
				height: 40px;
				width: 100%;
				padding: 0;
				position: relative;
				* {
					position: static;
				}
				.nf-error.field-wrap .nf-field-element:after,.nf-pass.field-wrap .nf-field-element:after, .nf-form-errors {
					display: none;
				}
				.nf-error-invalid-email {
					position: absolute;
					top: 40px;
				}
				input[type="button"],input[type="submit"],button {
					position: absolute;
					background-color: transparent;
					border: 1px solid #fff;
					box-shadow: none;
					width: auto;
					padding: 0 10px;
					height: 40px;
					right: 0;
					top: 0;
					cursor: pointer;
					transition: .3s all;
					color: #fff;
					height: 40px;
					width: 90px;
					box-sizing: border-box;
					&:hover {
						background: rgba(255,255,255,0.2);
					}
					 
				}
				.nf-field-element {
					position: static;
				}
			}
			.nf-form-errors {
				display: none;
			}
		}
	}
}

.breadcrumbs {
	margin: 20px 0;
	#breadcrumbs {
		line-height: 1;
    	margin: 0;
		a {
			color: lighten($light,10%);
			font-size: 16px;
			font-weight: normal;
			font-family: 'Roboto';
			cursor: pointer;
			&:hover {
				text-decoration: none;
				color: $light;
			}
		}
		span {
			color: lighten($light,10%);
			font-size: 16px;
			font-weight: normal;
			font-family: 'Roboto';
		}
	}
}


.chairman {
	.img-wrapper { 
		position: relative;
		width: 100%;
		height: 100%;
		img {
			position: fixed;
			left: 5%;
			bottom: 0;
			width: 45%;
			&.abs {
				position: absolute;
				width: 90%;
				left: 0;
			}
			@include breakpoint (small only) {
				position: static !important;
				transform: none !important;
				margin-bottom: 20px;
				width: 100%;
			}
		}
	}
	.content {
		.title {
			font-size: 50px;
			line-height: 60px;
			font-weight: 300;
			font-family: 'Roboto';
			color: #151515;
			margin-bottom: 40px;
		}
		p {
			font-size: 14px;
			font-family: 'Roboto';
			font-weight: 300;
			color: #151515;
		}
	}
}


.section-mission {
	.big-image {
		img {
			width: 100%;
			max-width: 100%;
			max-height: 500px;
			object-fit: cover;
		}
		&:after {
			/*position: absolute;
			background: red;
			mix-blend-mode: exclusion;
			width: 100%;
			height: 100%;
			content: '';*/
		}
	} 
	.text-block-holder {
	    height: 100%;
	    display: flex;
	    align-items: center;
	    @include breakpoint (small only) {
	    	padding: 20px;
	    }
		.text-block {
			p {
				padding-right: 130px;
				@include breakpoint (small only) {
					padding-right: 0;
				}
			}
		}
		.default-title { 
		}
	}
	&.partners {
		padding-bottom: 30px;
		.text-block-holder {
			padding: 40px 40px 40px 0;
			@include breakpoint (small only) {
				padding: 20px;
			}
			p {
				padding: 0;
				font-size: 18px;
			}
		}
		.big-image {
			height: 100%;
			img {
				max-height: none;
				width: 100%;
			    height: 100%;
			    object-fit: cover;
			    object-position: center;
			}
		}
	}
}

.section-vision {
	background: #F7F7F7;
	padding: 50px 0; 
	@include breakpoint (small only) {
		padding: 30px 20px;
	}
	.text-block {
		ul {
			margin: 0;
			li {
				color: $light;
				font-size: 22px;
				line-height: 30px;
				font-weight: 300;
				font-family: 'Roboto';
				position: relative;
				padding-left: 30px;
				margin-bottom: 10px;
				&:after {
					content: '';
				    position: absolute;
				    left: 5px;
				    top: 5px;
				    width: 20px;
				    height: 20px;
				    border-radius: 50%;
				    background: url(../img/balfin-stripes.svg);
				    background-size: contain;
				    background-position: center;
				    background-repeat: no-repeat;
				}
				@include breakpoint (small only) {
					font-size: 14px;
					line-height: 1.4;
					&:after {
						top: 4px;
					}
				}
			}
		}
	}
	.big-image {
		height: 100%;
		img {
			height: 100%;
			object-fit: cover;
		}
		&.fixed {
			img {
				width: 100%;
				height: 400px;
			}
		}
	}
	.default-title {
		.extra-margin-bottom {
			margin-bottom: 80px;
			@include breakpoint (small only) {
				margin-bottom: 20px;
			}
		}
	}
	p {
		margin-bottom: 40px;
		padding: 0 5px;
		strong {
			color: $primary;
			display: inline-block;
			margin-bottom: 15px;
		}
	}
}




.section-text {
	padding: 40px 0;
	&.no-pad-top {
		padding-top: 0;
	}
	.image-wrapper {
		position: relative;
		height: 100%;
		&.has-decor {
			margin-right: 40px;
			margin-top: 40px;
			&:after {
				content: '';
				position: absolute;
				right: -40px;
				top: -40px;
				width: 90%;
				height: 100%;
				background: rgba($primary,0.28);
			}
			&.red {
				&:after {
					background: $primary;
				}
			}
		}
		img {
			position: relative;
			z-index: 1;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.text-holder {
		.text-block {
			padding-right: 50px;
			@include breakpoint (small only) {
				padding-right: 0;
			}
		}
	}

	&.gray {
		background: #F7F7F7;
		.text-holder {
			.text-block {
				padding-right: 0px;
				.default-title {
					margin-bottom: 20px;
				}
				.read-more {
					&:after {
						background: $purple;
					}
				}
			}
		}
	}
	ul {
		margin: 0;
		li {
			color: #67737a;
			font-size: 20px;
			line-height: 30px;
			font-weight: 300;
			font-family: 'Roboto';
			position: relative;
			padding-left: 30px;
			margin-bottom: 10px;
			&:after {
			    content: '';
			    position: absolute;
			    left: 5px;
			    top: 5px;
			    width: 20px;
			    height: 20px;
			    border-radius: 50%;
			    background: url(../img/balfin-stripes.svg);
			    background-size: contain;
			    background-position: center;
			    background-repeat: no-repeat;
			}
			@include breakpoint (small only) {
				font-size: 14px;
				line-height: 1.4;
				&:after {
					top: 4px;
				}
			}
		}
	}
	a.with-icon {
		display: inline;
		img {
			width: 40px;
			transition: .3s all;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	&.code {
		.image-wrapper {
			margin: 0;
			height: 100%;
			padding-right: 30px;
			@include breakpoint (small only) {
				padding-right: 0;
				padding-bottom: 20px;
			}
			img {
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}

.section-single-industry-first {
	padding-bottom: 90px;
	.text-holder {
		.text-box {
			padding: 0 60px;
			.default-title {
				text-transform: uppercase;
			}
			p {
				font-size: 18px;
				color: #4A4A4A;
			}
		}
	}
}
.background-gray {
	background: #F7F7F7;
	.divider-horizontal {
		margin: 0 25px;
	}
}
.background-white {
	background: #ffffff;
	.divider-horizontal {
		margin: 0 25px;
	}
}
.section-single-industry-content {
	padding: 60px 0;
	&.gray {
		background: #f7f7f7;
	}

	.single-wrapper {
		width: 100%;
		.logo-holder {
			display: flex;
			height: 100%;
			align-items: center;
			a,div {
			    padding: 20px 10px;
    			background: #fff;
    			width: 100%;
			}
		}
		.text-holder {
			.text-box {
				background: transparent;
				padding: 40px;
				.default-title {
					margin-bottom: 10px;
				}
				.logo-wrapper {
					display: flex;
					align-items: center;
					padding: 25px 0;
					@include breakpoint (small only) {
						padding: 15px 0;
					}
					.divider-vertical {
						margin: 25px 0;
					}
					.logo-link {
						display: inline-block;
						margin-left: 0px;
						max-width: 100px;
						min-width: 100px;
						img {
							max-width: 100%;
							max-height: 40px;
						}
					}
				}
				p {
					display: inline-block;
					width: 100%;
					color: #384250;
					font-size: 16px;
				}
			}
		}
		.slider-holder {
			overflow: hidden;
			padding: 40px 0;
			.single-slider {
				position: relative;
				width: 150%;
				@include breakpoint (small only) {
					padding-right: 20px;
					padding-left: 0;
				}
				.slick-arrow {
					z-index: 1;
					cursor: pointer;
				}
				.slick-prev {
					position: absolute;
					left: 40px;
					top: 0;
					width: calc(50% - 40px);
					height: 100%;
					display: none !important;
					background-image: url(../img/arrow-left-black.svg);
					background-size: 40px;
					background-position: right 30px center;
					background-repeat: no-repeat;
					transition: .3s all;
					opacity: 0.5;
					&:hover {
						opacity: 1;
						background-position: right 40px center;
					} 
				}
				.slick-next {
					position: absolute;
					right: 40px;
					top: 0;
					width: calc(50% - 40px);
					height: 100%;
					display: inline-block !important;
					background-image: url(../img/arrow-right-black.svg);
					background-size: 40px;
					background-position: left 30px center;
					background-repeat: no-repeat;
					transition: .3s all;
					opacity: 0.5;
					&:hover {
						opacity: 1;
						background-position: left 40px center;
					}
				}
				div {
					img {
						padding-right: 40px;
					}
				}
				&.slider-left {
					margin-left: -50%;
					@include breakpoint (small only) {
						padding-right: 20px;
						padding-left: 0;
					}
					div {
						img {
							padding-left: 40px;
							padding-right: 0;
						}
					}
					.slick-next {
						display: none !important;
					}
					.slick-prev {
						display: inline-block !important;
					}
				}
				
			}
		}
	}
	.logos {
		width: 300px;
	    height: 60px;
		display: flex;
    	align-items: center;
    	height: 100%;
    	padding-bottom: 50px;
    	margin-left: 30px;
    	@include breakpoint (small only) {
    		margin-left: 0px;
    		padding-bottom: 20px;
		    justify-content: center;
		    width: 100%;
    	}
		div {
			min-width: 100px;
			max-height: 60px;
			text-align: center;
			margin: 0 20px;
			cursor: pointer;
			img {
				height: 60px;
				width: auto;
				display: inline-block;
				opacity: .4;
				object-fit: contain;
				object-position: center;
			}
			&:hover, &.active {
				img {
					opacity: 1;
				}
			}
		}
	}
	.default-title {
		display: inline-block;
		text-transform: uppercase;
    	margin-bottom: 50px;
    	@include breakpoint (small only) {
    		margin-bottom: 20px;
    		text-align: center;
    		width: 100%;
    	}
	}
	.new-slider {
		width: 100%;
		.slick-arrow {
			position: absolute;
			top: 0;
			left: calc(50%);
			width: 40px;
			height: 40px;
			background-image: url(../img/angle-left.svg);
			background-size: auto 80%;
			background-position: center;
			background-repeat: no-repeat;
			background-color: rgba(255,255,255,0.4);
			cursor: pointer;
			font-size: 0;
			transition: .3s all;
			z-index: 1;
			@include breakpoint (small only) {
				left: 0;
			}
			&:hover {
				/*transform: translateX(-5px);*/
				background-color: #fff;
			}
			&.slick-next {
				left: auto;
				right: 0;
				background-image: url(../img/angle-right.svg);
				&:hover {
					/*transform: translateX(5px);*/
				}
			}
		}
		.default-title {
			padding-left: 40px;
		}
		.photo-holder {
			.single-photo {
				img {
					width: 100%;
				}
			}
		}
		.sub-title {
			position: relative;
			padding-right: 40px;
			.gotonext-arrow {
				position: absolute;
				right: 10px;
				top: 30px;
				width: 40px;
				height: auto;
				transition: .3s all;
				img {
					width: 100%;
				}
				&:hover {
					transform: translateX(10px);
				}
			}
			@include breakpoint (small only) {
				font-size: 30px;
			}
		}
	}
	&#shopping-malls {
		.logos div img {
			height: 30px;
		}
	}
}

.section-contact {
	padding: 50px 0;
	background: #ECEFF2;
	.map-holder {
		height: 100%;
		width: 100%;
		min-height: 300px;
		@include breakpoint (small only) {
			padding-bottom: 20px;
		}
		#map {
			width: 100%;
			height: 100%;
		}
	}
	.default-title {
		color: $primary;
	}
	.nf-form-cont {
		.nf-form-content {
			button,input[type="button"] {
			    line-height: 1;
			    height: auto;
			    background: $primary;
			    color: #fff;
			    font-weight: bold;
			    border: none;
			    box-shadow: none;
			    text-transform: uppercase;
			    cursor: pointer;
				&:hover {
					background: darken($primary,5%);
				}
			}
		}
	}
}


.section-three {
	padding: 90px 0 40px;
	background: #f7f7f7;
	.single-block {
		padding: 0 10px;
		@include breakpoint (small only) {
			margin-bottom: 30px;
		}
		.img-holder {
			border-top: 15px solid $yellow;
			cursor: pointer;
			display: inline-block;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 25px;
				@include breakpoint (small only) {
					margin-bottom: 5px;
				}
			}
		}
		.title {
			margin-bottom: 25px;
			color: #B1B1B1;
			font-weight: bold;
			font-family: 'Montserrat';
			line-height: 1.2;
			font-size: 28px;
			@include breakpoint (small only) {
				margin-bottom: 10px;
			}
		}
		&.green {
			.img-holder {
				border-top-color: $green;
			}
		}
		&.blue {
			.img-holder {
				border-top-color: $blue;
			}
		}
		&.red {
			.img-holder {
				border-top-color: $primary;
			}
		}
	}
}

.section-hidden-contents {
	background: #f7f7f7;
	.hidden-content {
		opacity: 0;
		&.open {
			padding: 90px 0 50px;
			opacity: 1;
		}
		p,li {
			font-size: 16px;
			color: #333;
		}
	}
}

.section-internship {
	background-image: url(../img/internship.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 40px 0;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(45deg, rgb(2, 2, 10, 0.88) 0%, rgb(13,23, 31, 0.27) 100%);
		background: -webkit-linear-gradient(45deg, rgb(2, 2, 10, 0.88) 0%, rgb(13,23, 31, 0.27) 100%);
		background: linear-gradient(45deg, rgb(2, 2, 10, 0.88) 0%, rgb(13,23, 31, 0.27) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8002020a', endColorstr='#007db9e8',GradientType=1 );
	}
	.content {
		position: relative;
		z-index: 1;
		.default-title {
			color: #fff;
			font-weight: bold;
			margin-bottom: 25px;
		}
		p {
			color: #fff;
			font-size: 16px;
		}
		.read-more {
			color: #fff;
		}
	}
}

.section-main-news {
	padding-bottom: 60px;
	.page-title {
		background: $primary;
		color: #fff;
		line-height: 1;
		padding: 10px 20px;
		font-weight: bold;
		font-family: 'Montserrat';
		text-align: center;
		margin-bottom: 30px;
		font-size: 26px;
	}
	.big-news-slider {
		position: relative;
		.slick-dots {
			position: absolute;
			bottom: 30px;
			left: 25%;
			li {
				float: left;
				font-size: 0;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 2px solid #fff;
				background: transparent;
				cursor: pointer;
				margin: 0 10px;
				transition: .3s all;
				&.slick-active, &:hover{
					background: $primary;
				}
			}
		}
		.single-news {
			a {
				display: inline-block;
				&.slider-link {
					width: 100%;
				}
				img {
					width: 100%;
					height: 600px;
					object-fit: cover;
					object-position: center;
					@include breakpoint (small only) {
						height: 250px;
					}
				}
			}
		}
		.content {
			.default-title {
				font-size: 26px;
				color: $dark;
				font-weight: bold;
				font-family: "Montserrat";
				margin-bottom: 20px;
			}
			p {
				font-size: 18px;
				font-family: 'Roboto';
				font-weight: 300;
				color: #4E4E4E;
				margin-bottom: 20px;
			}
		}
	}
	.small-news {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		.single-news {
			position: relative;
			display: inline-block;
			margin: 10px 0;
			@include breakpoint (small only) {
				margin-bottom: 20px;
			}
			img {
				width: 100%;
				height: auto;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: .3s all;
				opacity: 0.2;
				background: $primary;
			}
			.title {
				position: absolute;
				z-index: 2;
				left: 10px;
				bottom: 10px;
				font-size: 14px;
				color: #fff;
				font-weight: bold;
				font-family: "Montserrat";
			}
			&:hover {
				&:after {
					opacity: 0.4;
				}
			}
		}
	}
}


.section-socials {
	padding: 90px 0;
	.single-social {
		background: #f7f7f7;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			margin: 0 10px;
			display: inline-block;
			&.default-button {
				line-height: 30px;
				background: $primary;
				color: #fff;
				font-weight: bold;
				font-family: 'Roboto';
				font-size: 18px;
				transition: .3s all;
				padding: 0 10px;
				&:hover {
					background: darken($primary,5%);
				}
			}
			img {
				width: auto;
				height: 30px;
				transition: .3s all;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}


.section-calendar {
	&.section-text {
		.default-title {
			margin-bottom: 20px;
		}
	}
	.calendar-wrapper {
		.single-event {
			display: inline-block;
			width: 100%;
			background: #efefef;
			height: 100px;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
			.date {
				width: 100px;
			    float: left;
			    display: flex;
			    flex-direction: column;
			    justify-content: space-between;
			    padding: 20px 10px;
			    margin-right: 70px;
			    background: $primary;
			    position: relative;
			    color: #fff;
			    font-size: 30px;
			    font-weight: 900;
			    font-family: 'Montserrat';
			    -webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    height: 100%;
			    line-height: 1;
			    .day {
			    	font-size: 16px;
			    	font-weight: bold;
			    }
			    &:after {
			    	content: '';
			    	position: absolute;
			    	left: 100%;
			    	top: 0;
			    	border-bottom: 0px solid transparent;
				    border-left: 0px solid $primary;
				    border-top: 100px solid $primary;
				    border-right: 60px solid transparent;
			    }
			}
			.event-holder {
				float: left;
				width: calc(100% - 170px);
				height: 100px;
			    display: flex;
			    flex-direction: column;
			    justify-content: space-between;
		        padding: 10px 0;
		        div {
		        	color: $dark;
		        }
		        .time,.location {
		        	font-size: 16px;
		        	font-weight: 300;
		        	font-family: 'Roboto';
		        }
		        .event {
		        	font-weight: bold;
		        	font-family: 'Roboto';
		        	font-size: 22px;
		        }
			}
		}
	}
}

.section-multimedia {
	.default-title {
		margin-bottom: 30px;
	}
	.single-media {
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.2);
			transition: .3s all;
		}
		.category {
			position: absolute;
			left: 0;
			top: 0;
			font-size: 16px;
			line-height: 30px;
			color: #fff;
			font-family: 'Roboto';
			font-weight: bold;
			z-index: 2;
			background: $primary;
		    padding: 5px 15px;
		}
		&:hover {
			&:after {
				background: rgba(0,0,0,0.4);
			}
		}
		&.publication {
			margin-bottom: 10px;
			img {
			    height: 400px;
			    object-fit: cover;
			    object-position: top;
			}
			.title {
				font-size: 18px;
			}
		}
	}
	.single-media-title	{
		.title {
			position: static;
			font-size: 16px;
			color: $dark;
			font-family: 'Roboto';
			font-weight: bold;
			z-index: 2;
			&:hover {
				color: darken($dark,15%);
			}
		}
		&.publication {
			margin-bottom: 20px;
		}
	}
}


.section-other-news {
	padding: 90px 0;
	.single-big-news {
		position: relative;
		display: inline-block;
		height: 100%;
		width: 100%;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 50%;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(242,242,242,1) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f2f2f2',GradientType=0 );
			transition: .3s all;
		}
		img {
			width: 100%;
			min-height: 400px;
			height: 100%;
			object-fit: cover;
		}
		.category {
			position: absolute;
		    left: 0;
		    top: 0;
		    font-size: 20px;
		    line-height: 40px;
		    color: #fff;
		    font-family: 'Roboto';
		    font-weight: bold;
		    z-index: 2; 
		    padding: 0 15px;
		    background: $primary;
		}
		.title {
		    position: absolute;
		    left: 20px;
		    bottom: 20px;
		    width: calc(100% - 40px);
		    font-size: 20px;
		    color: $dark;
			font-family: 'Montserrat';
			font-weight: 900;
			z-index: 2;
		}
		&:hover {
			&:after {
				height: 40%;
			}
		}
	}
}

.news-with-photo {
	padding: 20px;
	height: 100%;
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.single-news {
		&:nth-child(2) {
			margin: 20px 0;
		}
		.image-holder {
			display: inline-block;
			margin-right: 20px;
			height: 100%;
			img {
				height: 100%;
				object-fit: cover;
			}
		}
		.content {
			padding: 0 0 10px; 
			display: inline-block;
			width: 100%;
		}
		.category {
			font-size: 16px;
			line-height: 30px;
			color: #fff;
			font-family: 'Roboto';
			font-weight: bold;
			z-index: 2;
			background: $primary;
			padding: 0 5px;
			display: inline-block;
			margin-bottom: 10px;
		}
		.title {
			color: $dark;
			font-size: 16px;
			font-weight: bold;
			font-family: 'Roboto';
			margin-bottom: 5px;
			width: 100%;
			display: inline-block;
		}
		p {
			color: #A7A7A7;
			font-size: 14px;
			font-weight: normal;
			font-family: 'Roboto';
			margin-bottom: 5px;
		}
		a {
			.title {
				&:hover {
					color: darken($dark,15%);
				}
			}
			&.read-more {
				font-size: 14px;
			}
		}
		.date {
			margin: 0;
			font-weight: 300;
			font-family: 'Roboto';
			color: $primary;
		}
	}
	&.in-single {
		height: auto;
		.category {
			font-size: 16px;
			line-height: 30px;
			color: #fff;
			font-family: 'Roboto';
			font-weight: bold;
			z-index: 2;
			background: $primary;
			padding: 0 5px;
			display: inline-block;
			margin-bottom: 20px;
			flex: 1 0 auto;
		}
		.single-news {
			margin: 10px 0;
		}
	}
	&.no-photo {
		.single-news {
			margin: 10px 0;
			&:nth-child(2) {
				margin: 10px 0;
			}
		}
	}
}

.section-single-post {
	padding-bottom: 80px;
	.post-content {
		.default-title {
			color: $primary;
			font-size: 30px;
			font-weight: bold;
			line-height: 1.4;
			margin-bottom: 30px;
		}
		img {
			margin-bottom: 30px;
		}
		p {
			font-size: 18px;
			color: #707070;
			font-family: 'Roboto';
		}
	}
}


.section-hero {
	.hero-content {
		img {
		    width: 100%;
		    height: calc(100vh - 93px);
		    object-fit: cover;
		    object-position: center center;
		}
	}
	.hero-frame {
	    position: relative;
	    z-index: 1000;
	    height: calc(100vh - 93px);
	    display: flex; 
	    #gl,canvas {
	    	width: 100% !important;
	    	height: 100% !important;
	    }
	    .hero-slider {
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	width: 100%;
	    	height: auto;
	    	.single-slide {
	    		padding: 40px;
	    		@include breakpoint (small only) {
	    			padding: 30px;
	    		}
	    		.gotonext-hero {
	    			display: block;
	    			margin-bottom: 30px;
	    			transition: .3s all;
	    			cursor: pointer;
	    			img {
	    				width: 60px;
	    			}
	    			&:hover {
	    				transform: translateX(15px);
	    			}
	    		}
    			.text {
    				color: #fff;
    				font-weight: 900;
    				font-family: 'Montserrat';
    				font-size: 40px;
    				line-height: 1.4;
    				width: 600px;
    				max-width: 100%;
    				text-shadow: 0 0 1px rgba(0 ,0, 0,.3);
    				@include breakpoint (small only) {
    					font-size: 22px;
    					text-shadow: 0 0 1px rgba(0 ,0, 0,.7);
    				}
    			}
	    	}
	    }
	}
}

.section-logos {
	.logo-wrapper {
		display: flex;
		height: 200px;
		align-items: center;
		justify-content: center;
		position: relative;
		.nolink {
			max-width: 60%;
			margin: 20px 0;
			img {
				width: 100%;
				max-height: 100px;
				transition: .3s all;
			}
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		a {
			max-width: 60%;
			margin: 20px 0;
			text-align: center;
			img {
				width: 90%;
				max-height: 100px;
				transition: .3s all;
			}
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		.other-companies {
			display: none;
			position: absolute;
			width: 150%;
			background: #fff;
			left: -25%;
			top: 30px;
			height: 140px;
		    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
		    z-index: 99;
		    align-items: center;
			a {
				margin: 20px;
				img {
					width: 100%;
				}
				p {
					font-size: 16px;
	    			text-align: center;
	    			padding-top: 5px;
	    			margin-bottom: 0;
				}
				&:hover {
					p {
						color: darken($dark,15%);
					}
				}
			}
		}
		&:hover {
			.other-companies {
				display: flex {

				}
			}
		}
	}
}


.section-history {
	.history-slider {
		.image-wrapper {
		    margin: 30px 60px;
		    position: relative;
		    min-height: 500px;
		    width: calc(100% - 120px);
		    @include breakpoint (small only) {
	    	    margin: 20px;
			    position: relative;
			    min-height: 300px;
			    width: calc(100% - 40px);
		    }
			img {
				position: absolute;
				width: 75%;
				height: 80%;
				left: 0;
				top: 0;
				object-position: center;
				object-fit: cover;
				z-index: 1;
				box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.24);
				&:nth-child(2) {
					height: 70%;
					width: 60%;
					left: auto;
					top: auto;
					bottom: 0;
					right: 0;
					z-index: 2;
				}
			}
		}
		.content {
			position: relative;
			.gotonext {
				position: absolute;
				right: 10px;
				top: 120px;
				width: 40px;
				cursor: pointer;
				img {
					transition: .3s all;
					width: 100%;
				}
				&:hover {
					img {
						transform: translateX(10px);
					}
				}
			}
			.top-row {
				display: inline-block;
				width: 100%;
				.logo {
					float: left;
					width: 20%;
					height: 100px;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						width: 100%;
					}
				}
				.year {
					float: left;
					width: 80%;
					font-size: 90px;
					font-weight: 900;
					line-height: 100px;
					font-family: 'Montserrat';
					color: #d4d4d4;
					text-align: center;
					@include breakpoint (small only) {
						font-size: 60px;
					}
				}
			}
			.default-title {
				margin-bottom: 30px;
				padding-right: 60px;
				@include breakpoint (small only) {
					padding: 0 60px 0 20px;
					margin-bottom: 20px;
				}
			}
			p {
				color: #67737A;
				font-size: 20px;
				padding: 0 60px;
				@include breakpoint (small only) {
					padding: 0 20px;
					font-size: 14px;
				}
			}
		}
	}
	.history-dots {
		padding: 20px 0 30px;
		.slick-slide {
			.single-dot {
				width: 100%;
				height: 50px;
				position: relative;
				cursor: pointer;
				.dot {
					content: '';
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					display: inline-block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: transparent;
					border: 1px solid $primary; 
					transition: .3s all;
				}
				.year {
					display: inline-block;
					line-height: 20px;
					font-size: 14px;
					font-weight: bold;
					color: #384250;
					text-align: center;
					width: 100%;
					font-family: 'Montserrat';
					font-weight: 900;
					transition: .3s all;
					@include breakpoint (small only) {
						font-size: 12px;
					}
				}
				&:hover {
					.dot {
						background: $primary;
					}
				}
				&:before {
					content: '';
					position: absolute;
					left: 0;
					bottom: 10px;
					width: calc(50% - 10px);
					height: 1px;
					background: $primary;
					transform: translateY(50%);
				}
				&:after {
					content: '';
					position: absolute;
					right: 0;
					bottom: 10px;
					width: calc(50% - 10px);
					height: 1px;
					background: $primary;
					transform: translateY(50%);
				}
			} 
			&.slick-current,&:hover {
				.single-dot {
					.year {
						transform: scale(1.15);
						color: $primary;
					}
					.dot {
						background: $primary;
					}
				}
			}
			&:first-child {
				.single-dot {
					&:before {
						display: none;
					}
				}
			}
			&:last-child {
				.single-dot {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}


.hidden-content[data-content],.hidden-content[data2-content],.accordion-content[data-content] {
	transition: .6s all;
	overflow: hidden;
	max-height: 0;
	&[data-content="approach"] {
		transition: 0s all;
		&.open {
			transition: .6s all;
		}
	}
	&.open {
		max-height: 1000px;
	}
}

[data-open],[data2-open] {
	span.readmore {
		display: inline-block;
	}
	span.readless {
		display: none;
	}
	&.open {
		span.readless {
			display: inline-block;
		}
		span.readmore {
			display: none;
		}

	}
}

.single-member {
	padding: 30px 0;
	.image-wrapper {
		margin: 0 40px 0 0;
		padding-left: 10%;
		padding-top: 10%;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0%;
			top: 0%;
			width: 90%;
			height: 90%;
			background: $primary;
		}
		@include breakpoint (small only) {
			margin: 0;
		}
	}
	.name {
		font-family: 'Montserrat';
		font-weight: 900;
		color: $primary;
		font-size: 50px;
		margin-bottom: 20px;
		line-height: 1.4;
		@include breakpoint (small only) {
			font-size: 40px;
		    margin: 15px 0;
    		line-height: 1.1;
		}
	}
	.role {
	    font-family: 'Montserrat';
	    font-size: 30px;
	    margin-bottom: 20px;
	    color: #333;
	    line-height: 1.2;
	    @include breakpoint (small only) {
	    	font-size: 40px;
	    }
	}
	p {
		font-size: 16px;
		color: #2a2a2a; 
	}
	.read-more {
		font-size: 14px;
	}
}


.departaments {
	.single-accordion {
		padding: 0;
		border: 1px solid rgba($primary,30%);
		border-radius: 3px;
		margin-bottom: 16px; 
		&:nth-child(even) {
			margin-right: 0;
		}
		@include breakpoint (small only) {
			width: 100%;
			margin-right: 0;
		}
		.accordion-title {
			font-weight: bold;
			font-family: 'Montserrat';
			font-size: 20px;
			line-height: 30px;
			padding: 0 20px 0 60px;
			color: #333;
			border-bottom: 1px solid rgba($primary,0.3);
			cursor: pointer;
			margin-bottom: -1px;
			transition: .3s all;
			position: relative;
			display: flex;
			align-items: center;
			@include breakpoint (small only) {
				font-size: 12px;
    			line-height: 1.3;
			}
			&:hover,&.open {
				background: rgba($primary,0.1);
			} 
			.title {
				padding-left: 20px;
				height: 60px;
				line-height: 22px;
				display: flex;
				align-items: center;
			}
			.icon {
				position: absolute;
				left: 0;
				top: 0;
				background-color: $primary;
				background-repeat: no-repeat;
			    background-position: center;
    			background-size: 25px auto;
				width: 60px;
				height: 100%;
			}
		}
		.accordion-content {
			padding: 0 20px;
			ul {
				li {
					font-size: 16px;
					color: #2a2a2a; 
				}
			}
			p {
				color: #2a2a2a; 
				font-size: 16px;
			}
			&.open {
				padding: 20px;
			}
		}
	}
}

.single-sus-icon {
	padding-bottom: 30px;
	.icon {
		padding: 40px;
   		text-align: center;
   		img {
   			width: auto;
   			height: auto;
   			max-width: 80px;
   			max-height: 80px;
   		}
	}
	.title {
		text-align: center;
	    font-family: 'Montserrat';
	    font-size: 20px;
	    font-weight: 900;
	}
	&.bottom {
		.icon {
			padding: 20px;
	   		text-align: center;
	   		img {
	   			width: auto;
	   			height: auto;
	   			max-width: 90%;
	   			max-height: none;
	   		}
		}
		.title {
			text-align: center;
		    font-family: 'Roboto';
		    font-size: 14px;
		    padding: 0 15px;
		    font-weight: normal;
		}
	}
}
.bottom-icons {
	padding-top: 20px;
}
.sus {
	.image-cover {
		width: 100%;
		display: inline-block;
		margin-bottom: 20px;
		text-align: center;
		img {
			width: auto;
			max-height: 300px;
			margin: 0 auto;
			display: inline-block;
			border: 1px solid #cfcfcf;
			transition: .3s all;
			&:hover {
				filter: brightness(0.95);
			}
		}
	}
}

.download-button {
    display: inline-block;
    background: $primary;
    line-height: 40px;
    padding: 5px 30px;
    border-radius: 5px;
    width: auto;
    margin: 20px 0;
    transition: .3s all;
    &:hover {
    	background: darken($primary,5%);
    }
    span {
    	color: #fff;
    	display: inline-block;
    	&.icon {
    		width: 20px;
    		margin-right: 10px;
    	}
    	&.text {
		    color: #fff;
		    font-weight: normal;
		    font-family: 'Roboto';
    	}
    }
}

.single-press-kit {
	margin: 30px 15px 10px;
	padding: 15px;
	background: #fff;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.14);
	.title {
		text-align: center;
	    line-height: 30px;
	    margin-bottom: 20px;
	    font-size: 20px;
	    font-weight: 900;
	    font-family: 'Montserrat';
	}
	.icon {
		display: inline-block;
		text-align: center;
		margin-bottom: 20px;
		width: 100%;
		img {
			width: 90px;
		}
	}
	.button-holder {
		text-align: center;
		.download-button {
		    margin: 10px 0 20px;
		    line-height: 1.6;
		    color: #fff;
		}
	}
	p {
		text-align: center;
		font-size: 14px;
		margin-bottom: 10px;
		padding: 0 15px;
	}
}

.section-contact-blocks {
	.controllers {
		padding: 30px 0;
		display: flex;
		justify-content: center;
		@include breakpoint (small only) {
			flex-wrap: wrap;
			justify-content: center;
		}
		.single-controller {
			display: inline-block;
		    background: transparent;
		    border: 1px solid $primary;
		    line-height: 30px;
		    padding: 5px 10px;
		    width: auto;
	        margin: 20px 40px;
		    color: $primary;
		    transition: .3s all;
		    cursor: pointer;
		    font-size: 16px;
    		font-weight: bold;
		    &:hover,&.open {
		    	background: $primary;
		    	color: #fff;
		    }
			@include breakpoint (small only) {
				margin: 10px;
    			width: calc(33% - 20px);
    			text-align: center;
			    font-size: 16px;
			    line-height: 20px;
			    font-weight: bold;
			    text-align: center;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			}
		}
	}
	.hidden-content-wrapper {
		padding: 20px 0 50px;
		.single-hidden-content {
			display: none;
			&.open {
				display: block;
			}
			.single-contact-block {
				padding: 25px;
				box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
				margin-bottom: 25px;
				font-size: 16px;
				.name {
					line-height: 40px;
					font-size: 32px;
					font-family: 'Montserrat';
					font-weight: bold;
					margin-bottom: 20px;
					color: $primary;
				}
				.content-row {
					display: flex;
					label {
						width: 80px;
						padding: 5px;
						box-sizing: border-box;
						color: #9c9c9c;
						font-weight: bold;
					}
					.content {
						width: calc(100% - 80px);
						padding: 5px;
						box-sizing: border-box;
						font-weight: bold;
					}
				}
			}
		}
	}
}


.new-hero {
	margin-bottom: 20px;
	.section-about {
		padding: 0px 0 30px;
		.text-box {
			.default-title {
				padding-right: 10px;
				position: relative;
				.gotonext-hero {
					position: absolute;
					top: 50%;
					right: 20px;
					width: 40px;
					transform: translateY(-50%);
					transition: .3s all;
					cursor: pointer;
					&:hover {
						right: 10px;
					}
				}
			}
		}
		img {
			max-height: calc(100vh - 150px);
			min-height: calc(100vh - 150px);
			object-fit: cover;
    		object-position: top right;
		}
		@media screen and ( max-height: 750px ) {
			img {
				height: calc(100vh - 150px);
				object-fit: cover;
	    		object-position: center right;
			}
		}

	}
	.slick-dots {
	    position: absolute;
	    left: 50%;
	    bottom: 0;
	    transform: translateX(-50%);
	    width: auto;
	    display: flex;
		li {
			margin: 5px 10px;
		    width: 80px;
		    padding: 5px 0;
		    height: 15px;
			cursor: pointer;
			font-size: 0;
			position: relative;
			float: left;
			@include breakpoint (small only) {
				max-width: 50px;
			}
			&:after {
				position: absolute;
				content: '';
				height: 4px;
				background: $primary;
				opacity: 0.4;
				border-radius: 5px;
				width: 100%;
				left: 0;
				bottom: 0%;
				transition: .3s all;
			}
			&:hover,&.slick-active {
				&:after {
					height: 8px;
					opacity: 1;
				}
			}
		}
	}
}


.why-us {
	padding: 60px 0;
	ul {
		margin: 0;
		li {
			color: $light;
			font-size: 20px;
			line-height: 30px;
			font-weight: 300;
			font-family: 'Roboto';
			position: relative;
			padding-left: 30px;
			margin-bottom: 10px;
			&:after {
				content: '';
				position: absolute;
				left: 5px;
				top: 10px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $primary;
			}
			@include breakpoint (small only) {
				font-size: 14px;
				line-height: 1.4;
				&:after {
					top: 4px;
				}
			}
		}
	}
	.circles-holder {
		display: flex;
		justify-content: space-between;
		padding: 30px 60px;
		@include breakpoint (small only) {
			padding: 20px 0;
			flex-direction: column;
		}
		.single-circle-holder {
			display: inline-block;
			text-align: center;
			&:nth-child(odd) {
				margin-top: 140px;
				@include breakpoint (small only) {
					margin-top: 0;
				}
			}
			@include breakpoint (small only) {
				margin-bottom: 20px;
			}
			.new-text {
				margin-top: 10px;
				text-align: center;
				font-size: 16px;
				line-height: 20px;
				color: $dark;
				font-family: 'Montserrat';
				font-weight: bold;
			}
			.circle {
				display: inline-block;
				min-height: 120px;
				.circles-wrp {
					svg {
						transform: rotate(180deg);
					}
				}
				.circles-text {
				    position: absolute;
				    top: 15px !important;
				    left: 15px !important;
				    width: calc(100% - 30px) !important;
				    border-radius: 50% !important;
				    background: #fff !important;
				    box-shadow: -3px 4px 5px rgba(0,0,0,0.32) !important;
				    height: 90px !important;
				    line-height: 90px !important;
				    font-family: 'Montserrat';
				    color: $primary;
				    font-size: 20px !important;
				}
			}
		}
	}
}

.home-sus {
	padding: 60px 0;
	min-height: calc(100vh - 54px);
	p {
	    padding: 0px 80px 30px;
	    text-align: center;
	    background: #fff;
	    margin-bottom: -100px;
	    position: relative;
	    @include breakpoint (small only) {
	    	margin-bottom: 0;
    		padding: 0 20px;
	    }
	}
	img {
		border-top: 10px solid $primary;
		width: 100%;
	    height: 420px;
	    object-fit: cover;
	    object-position: center;
	}
	.read-more {
		margin: -40px auto 0;
	    display: block;
	    width: 130px;
	    text-align: center;
	    background: #fff;
	    padding: 10px;
	    &:after {
	    	left: 40%;
	    }
	    &:hover {
	    	&:after {
	    		left: 10px;
	    		width: calc(100% - 20px);
	    	}
	    }
	}
}

.section-map {
	padding: 60px 0;
	@include breakpoint (small only) {
		padding: 20px 0;
	}
	.point-map-holder {
		position: relative;
		.map {
			width: 100%;
		}
		.marker-holder {
			position: absolute;
			left: 52%;
    		top: 33%;
			.marker-inner {
				position: relative;
				.marker {
					cursor: pointer;
					transition: .3s all;
					width: 30px;
					&:hover {
						transform: scale(1.1);
					}
				}
				.companies {
					position: absolute;
					left: calc(100% - 15px);
					bottom: calc(100% - 15px);
					background: #fff;
					padding: 10px;
					display: none;
					min-width: 240px;
					flex-wrap: wrap;
					box-shadow: 0 0 10px rgba(0,0,0,.5);
					@include breakpoint (small only) {
						left: -110px;
					}
					&:hover {
						display: flex;
					}
					a {
						width: 26%;
						margin: 10px 3.5%;
						cursor: pointer;
						transition: .3s all;
						&:hover {
							transform: scale(1.05);
						}
						img {
							width: 100%;
						}
					}
				}
				&:hover {
					.companies {
						display: flex;
					}
				}
			}
		}
	}
}

.organigrama {
	padding: 60px 0;
	@include breakpoint (1281px down ) {
		overflow: scroll; 
	}
	.graph-wrapper {
		min-width: 1280px;
		.group {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: center;
			min-height: 80px;
			&.gray {
				/*background: #e5e5e5;*/
				&:after {
					content: '';
				    position: absolute;
				    left: 84px;
				    top: -40px;
				    height: 180px;
				    width: calc(100% - 170px);
				    background: #e5e5e5;
				    z-index: -2;
				}
				&:before {
					content: 'Management Board';
					font-family: 'Montserrat';
					font-weight: 300;
					font-size: 30px;
					line-height: 40px;
					position: absolute;
					top: -80px;
					left: 230px;
				}
			}
			&.multiple {
				justify-content: space-between;
				&.second-row {
					justify-content: center;
				}
			}
			&.directors {
				min-height: 30px;
			}
			&.has-line-center {
				&:after {
					content: '';
					position: absolute;
					left: 85px;
					top: 50%;
					transform: translateY(-50%);
					height: 2px;
					width: calc(100% - 170px);
					background: $primary;
					z-index: -1;
				}
			}
			.single-director {
				background: $primary;
			    padding: 10px;
			    text-align: center;
			    font-size: 12px;
				color: #fff;
				line-height: 20px;
				margin-top: 10px;
				margin-bototm: 40px;
				font-family: 'Montserrat';
				font-weight: bold;
				width: 170px;
			}
			.empty {
				width: 170px;
			}
			.single-member-box {
				position: relative;
				background: $primary;
				padding: 30px 2px 10px 2px;
				text-align: center;
				cursor: pointer;
				width: 170px;
				margin-top: 50px;
				z-index: 1;
				div {
					&.name,&.role {
						font-size: 15px;
						color: #fff;
						line-height: 20px;
						margin-bottom: 10px;
						font-family: 'Montserrat';
						font-weight: bold;
					}
					&.role {
						min-height: 20px;
						margin-bottom: 0;
					    font-size: 12px;
					    font-weight: bold;
					    line-height: 1.1;
					    display: flex;
					    align-items: center;
					    justify-content: center;
				        color: #ffc9c9;
				        transition: .3s all;
					}
					&.img-holder {
						width: 100%;
						text-align: center;
						position: absolute;
						left: 0;
						top: -25px;
					}
					img {
						display: inline-block;
						width: 50px;
						transition: .3s all;
						border-radius: 50%;
					    box-shadow: 0 0 3px rgba(0,0,0,0.3);
					    border: 2px solid #fff;
					}
				}
				&.line-top {
					&:after {
						content: '';
						position: absolute;
						left: 50%;
						bottom: 100%;
						transform: translateX(-50%);
						width: 2px;
						height: 91px;
						background: $primary;
						z-index: -1;
					}
					&.long {
						&:after {
							height: 121px;
						}
					}
					&.line-top-short {
						&:after {
							height: 50px;
						}
					}
				}
				&.line-bottom {
					&:before {
						content: '';
						position: absolute;
						left: 50%;
						top: 100%;
						transform: translateX(-50%);
						width: 2px;
						height: 341px;
						background: $primary;
						z-index: -1;
					}
					&.long {
						&:before {
							height: 132px;
						}
					}
				}
				&:hover {
					img {
						transform: scale(1.15);
					}
					.role {
						color: #fff;
					}
				}
			}
		}
	}
}



.member-popup {
	position: fixed;
	top: 50%;
	transform: translate(-50%,-50%);
	left: -100%;
	transition: .5s all;
	z-index: 9;
	max-width: 100%;
	width: 100%;
	&.open {
		left: 50%;
	}
	.popup-inner {
		position: relative;
		width: 90%;
	    max-width: 90%;
	    min-height: 60vh;
		max-height: 80vh;
		overflow: scroll;
		padding: 20px;
		background: #fff;
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.4);
	    margin: 0 auto;
		.close-popup {
		    position: absolute;
		    top: 10px;
		    right: 20px;
		    color: #333;
		    font-size: 32px;
		    line-height: 1;
		    cursor: pointer;
		}
		.title {
			font-family: 'Montserrat';
			font-size: 24px;
			color: $primary;
			font-weight: 900;
			margin-bottom: 5px;
		}
		.role {
			font-size: 20px;
			color: $dark;
			margin-bottom: 10px;
		}
		.content {
			p {
				font-size: 16px;
			}
		}
		.single-position {
	    	padding: 10px;
		    font-size: 20px;
		    font-weight: lighter;
		    font-family: 'Montserrat';
		}
	}
}

.section-all-industries {
	padding: 30px 0;
	.single-block {
		display: inline-block;
		position: relative;
		margin-bottom: 30px;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
			z-index: 1;
			left: 0;
			top: 0;
		}
		.title {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			color: #fff;
			font-size: 24px;
			line-height: 30px;
			transition: .3s all;
			z-index: 2;
			font-family: 'Montserrat';
			text-align: center;
		}
		.featured-image {
			overflow: hidden;
			img {
				transition: .3s all;
				height: 250px;
			    width: 100%;
			    object-fit: cover;
			}
		}
		&:hover {
			.title {
				transform: translate(-50%,-20%);
			}
			.featured-image {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.section-files {
	padding: 30px 0;
	.single-file {
		margin: 20px 0;
		padding: 0 40px;
		a {
			display: inline-block;
			text-align: center;
			width: 100%;
			&.icon {
				margin-bottom: 20px;
				img {
					transition: .3s all;
					max-width: 60px;
				}
				&:hover {
					img {
						transform: scale(1.1);
					}
				}
			}
			&.photo {
				width: 100%;
				display: inline-block;
				margin-bottom: 20px;
				text-align: center;
				img {
					width: auto;
					max-height: 300px;
					margin: 0 auto;
					display: inline-block;
					border: 1px solid #cfcfcf;
					transition: .3s all;
					&:hover {
						filter: brightness(0.95);
					}
				}
			}
			&.title {
				font-size: 20px;
				font-weight: bold;
				color: $dark;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.section-new-history {
	padding: 40px 0;
	.year {
		font-size: 50px;
		color: $primary;
		font-weight: normal;
		text-align: right;
		line-height: 180px;
		@include breakpoint (small only) {
			font-size: 30px;
		}
	}
	.circle-holder {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 200px;
		.circle {
			border: 4px solid $primary;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			background: #fff;
			position: absolute;
			left: 50%;
			top: 95px;
			transform: translate(-50%,-50%);
			z-index: 2;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			width: 4px;
			height: 100%;
			background: $primary;
			transform: translateX(-50%);
			z-index: 1;
		}
	}
	.content {
		.single-company {
		    margin-bottom: 30px;
			.top-row {
				display: flex;
				margin-bottom: 20px;
				margin-left: 50px;
				@include breakpoint (small only) {
				    margin-left: 10px;
				    flex-wrap: wrap;
				}
				.logo {
					max-width: 120px;
					height: 50px;
				    margin-right: 25px;
				    align-items: center;
				    display: flex;
				    position: relative;
				    &:before {
				    	content: '';
					    position: absolute;
					    right: calc(100% + 15px);
					    width: 68px;
					    height: 6px;
					    background-image: url(../img/single-dot.svg);
					    background-position: left center;
					    background-repeat: repeat-x;
					    background-size: auto 100%;
					    @include breakpoint (small only) {
					    	width: 18px;
					    }
				    }
					img {
						min-width: auto;
					    height: 40px;
					    max-width: 120px;
					}
				}
				.title {
					font-size: 30px;
					line-height: 50px;
					color: $dark;
					font-family: 'Montserrat';
					display: none;
					@include breakpoint (small only) {
						min-width: 100%;
					}
				}
			}
			.description {
				padding-left: 50px;
				font-size: 20px;
				font-family: 'Montserrat';
				color: $dark;
				font-weight: 300;
				@include breakpoint (small only) {
					padding-left: 10px;
				    padding-right: 20px;
				}
			}
			&:first-child {
		    	padding-top: 70px;
		    	.top-row {
		    		.logo {
		    			&:before {
		    				width: 46px;
		    				@include breakpoint (small only) {
		    					width: 6px;
		    				}
		    			}
		    		}
		    	}
		    }
		}
	}
	.grid-x {
		&:first-child {
			.circle-holder {
				&:before {
					content: '';
					position: absolute;
					width: 30px;
					height: 4px;
					background: $primary;
					left: 50%;
					top: 0;
					transform: translateX(-50%);
				}
			}
		}

		&:last-child {
			.circle-holder {
				&:before {
					content: '';
					position: absolute;
					width: 30px;
					height: 4px;
					background: $primary;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
				}
			}
		}
	}
}

.section-main-news-new {
	margin-bottom: 60px;
	.img-holder {
		width: 100%;
		height: 100%;
		display: inline-block;
		img {
			width: 100%;
			height: 100%;
			min-height: 500px;
			object-fit: cover;
			object-position: center;
			transition: .3s all;
		}
		&:hover {
			img {
				filter: brightness(0.8);
			}
		}
	}
	.post-content {
		padding: 40px;
		background: #F7F7F7;
		font-family: 'Montserrat';
		color: $dark;
		height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
		.post-title {
			font-size: 35px;
			font-weight: 300;
			margin-bottom: 40px;
			a {
				color: $dark;
				&:hover {
					color: darken($dark,15%);
				}
			}
		}
		.date {
			font-size: 14px;
			margin-bottom: 10px;
		}
		.content-holder {
			color: #67737A;
			font-size: 20px;
			font-family: 'Roboto';
			font-weight: 300;
			margin-bottom: 20px;
		}
		.tags-holder {
			margin-bottom: 20px;
			a {
				color: $primary;
				font-size: 14px;
				&:hover {
					color: darken($primary,16%);
				}
			}
		}
		.read-more {
			align-self: flex-start;
		}
	}
}

.section-all-posts {
	padding: 40px 0 80px;
	.single-post-wrapper {
		margin-bottom: 40px;
		.img-holder {
			width: calc(100% - 30px);
			margin-right: 30px;
			height: 100%;
			display: inline-block;
			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
				object-position: center;
				transition: .3s all;
			}
			&:hover {
				img {
					filter: brightness(0.8);
				}
			}
		}
		.post-content {
			padding: 20px;
			font-family: 'Montserrat';
			color: $dark;
			height: 100%;
			display: flex;
		    flex-direction: column;
		    justify-content: center;
			.post-title {
				font-size: 25px;
				font-weight: normal;
				margin-bottom: 20px;
				a {
					color: $dark;
					&:hover {
						color: darken($dark,15%);
					}
				}
			}
			.date {
				font-size: 14px;
				margin-bottom: 10px;
				color: $primary;
			}
			.content-holder {
				color: #67737A;
				font-size: 18px;
				font-family: 'Roboto';
				font-weight: 300;
				margin-bottom: 10px;
			}
			.tags-holder {
				margin-bottom: 10px;
				a {
					color: $primary;
					font-size: 14px;
					&:hover {
						color: darken($primary,16%);
					}
				}
			}
			.read-more {
				font-size: 18px;
				align-self: flex-start;
			}
		}
	}
	.filter-holder {
		.searchandfilter {
			h4 {
			    color: #fff;
			    background: red;
			    padding: 5px 10px;
			    font-size: 18px;
			}
			ul {
				li {
					width: 100%;
					ul {
						li {
							line-height: 30px;
							&.cat-item-1 {
								display: none;
							}
							&:first-child {
								display: none;
							}

							label {
								font-size: 16px;
								color: $dark;
								width: 100%;
								cursor: pointer;
								transition: .3s all;
								&:hover {
									color: $primary;
								}
							}
							&.current-cat {
								label {
									color: $primary;
								}
							}
							input[type="radio"] {
								transform: translateY(2px);
								display: none;
							}
						}
					}
				}
			}
			

			input[type="submit"] {
				opacity: 0;
			}
		}
	}
}

.section-balfin-numbers {
	padding: 120px 0;
	background-image: url(../img/balfin_in_numberz2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.numbers {
		padding-top: 80px;
		.cell.medium-3 {
			@include breakpoint (small only) {
				margin-bottom: 30px;
				&:nth-child(3),&:nth-child(4) {
					margin-bottom: 0;
				}
			}
		}
		.single-number {
			padding-left: 15px;
			border-left: 5px solid #e50b09;
			color: #fff;
			height: 100%;
			@include breakpoint (small only) {
			    display: flex;
			    flex-direction: column;
			    justify-content: center;
			}
			.number {
				font-size: 45px;
				margin-bottom: 20px;
				font-weight: bold;
				font-family: 'Montserrat';
			}	
			.text {
				font-weight: 300;
				font-size: 25px;
				font-family: 'Montserrat';
				min-height: 74px;
			    display: flex;
    			align-items: center;
    			@include breakpoint (small only) {
    				font-size: 22px;
    				padding-bottom: 10px;
    			}
			}
		}
	}
}


.section-new-map {
	padding-bottom: 60px;
	#map_about {
		position: relative;
		/*background: #eaf9ff;*/
		img,svg {
			width: 100%;
			height: auto;
		}
		#Path_7294 /*bosnja*/,
		#Path_7396 /*malizi*/,
		#Path_7382 /*kosova*/,
		#Path_7400 /*maqedoni*/,
		#Path_7284 /*shqipet*/,
		#Path_7289 /*austri*/,
		#Path_7416 /*hollande*/ {
			cursor: pointer;
			transition: .3s all;
			&:hover {
				fill: darken($primary,5%);
			}
		}
	}
	.map_logos {
		height: 100%;
		display: flex;
		align-items: center;
		.grid-x {
			flex: 1;
		}
		p {
			opacity: 0;
			width: 100%;
			text-align: center;
			transition: .3s all;
			&.active {
				opacity: 1;
			}
			#state {
				font-weight: bold;
			}
		}
		.single-logo {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 80px;
			margin: 5px;
			transition: .5s all;
			a,div {
				display: inline-block;
				margin-left: 0px;
				max-width: 80%;
				min-width: 80%;
				transition: .3s all; 
				img {
					max-width: 100%;
					max-height: 50px;
				}
			}
			a {
				&:hover {
					transform: scale(1.05);
				}
			}
			&.active {
				background: rgba(160, 160, 160, 0.3);
			}
			&.deactive {
				opacity: 0.1;
			}
		}
	}
}

.job-openings-section {
	padding: 30px 0;
	.single-job-posting {
		padding-bottom: 20px;
	    margin-bottom: 20px;
	    border-bottom: 1px solid #daa8a8;
		.job-title {
		    font-weight: bold;
    		font-size: 22px;
		}
		p {
			font-size: 16px;
    		margin-bottom: 5px;
		}
		a {
			color: $primary;
			&:hover {
				color: darken($primary, 15%);
			}
		}
	}
	.embed_jobs_head {
		padding: 0 0 30px;
		background: #fff;
		width: 100%;
		.embed_jobs_head2 {
			width: 100%;
		    padding: 0;
    		border: none;
			.rec-grp-heading {
				margin-bottom: 20px;
			    font-family: 'Montserrat';
			    font-size: 20px;
			}
			.rec-group {
				margin-bottom: 15px;
			}
		}
	}
	.embed_jobs_with_style .rec-job-info a {
		color: $primary;
	}
}




